@{
    ViewData["Title"] = "SuccessfulCheckout";
}

<div class="alert alert-info">

    <p>Order Successfully</p>
    <p>Order Id @ViewBag.OrderId</p>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>